{%extends "layout.html"%}
{%block content%}
{% include '_messages.html'%}
<style>
    * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: Arial;
      font-size: 17px;
    }
    
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
    }
    
    .content {
      position: fixed;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }
    
    #myBtn {
      width: 200px;
      font-size: 18px;
      padding: 10px;
      border: none;
      background: #000;
      color: #fff;
      cursor: pointer;
    }
    
    #myBtn:hover {
      background: #ddd;
      color: black;
    }
</style>
<video autoplay loop muted>
    <source src="\static\video.mp4" type="video/mp4">
</video>
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center ">Add a product</h2>
        {%from "_formhelpers.html" import render_field%}
        <form action="" method="POST" enctype="multipart/form-data">
            {{render_field(form.name, class="form-control", placeholder="Add product name")}}
            {{render_field(form.price, class="form-control", placeholder="Add product price")}}
            {{render_field(form.discount, class="form-control", placeholder="Add product discount")}}
            {{render_field(form.stock, class="form-control", placeholder="Add product stock")}}
            {{render_field(form.colors, class="form-control", placeholder="Add color")}}
            {{render_field(form.description, class="form-control", placeholder="Add detail", rows='10')}}

            <div class="container">
                <div class="row">
                    <div class="col-md-4"> {{render_field(form.image_1, class="form-control")}}</div>
                    <div class="col-md-4"> {{render_field(form.image_2, class="form-control")}}</div>
                    <div class="col-md-4"> {{render_field(form.image_3, class="form-control")}}</div>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-info mt-4"> Add product</button>


        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</div>
{%endblock content%}